In [1]:
import pandas as pd

from IPython import InteractiveShell

InteractiveShell.ast_node_interactivity="all"

In [2]:
wtr_tbl= pd.read_excel('Boonsong Lekagul waterways read.xlsx')

In [4]:
wtr_tbl.head()

     id  value location sample date            measure units
0  2221   2.00  Boonsri  1998-01-11  Water temperature     C
1  2223   9.10  Boonsri  1998-01-11   Dissolved oxygen  mg/l
2  2227   0.33  Boonsri  1998-01-11           Ammonium  mg/l
3  2228   0.01  Boonsri  1998-01-11           Nitrites  mg/l
4  2229   1.47  Boonsri  1998-01-11           Nitrates  mg/l

Initial data transformation needs to take into consideration, the location on the map--boonsri, etc. 

The date of analysis

Chemical wise. 


1. Function to return a series for a particular chemical with datetime as index
1. Function to return a series for a particular location with datetime as index. Columns should be all chemical readings.

In [6]:
def series_chem(name_chem='Ammonium',df=wtr_tbl):
    
    df1=df.loc[df.measure.str.contains(name_chem)]
    df1=df1.set_index('sample date',drop=True)
    
    return df1

In [8]:
wtr_tbl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136824 entries, 0 to 136823
Data columns (total 6 columns):
id             136824 non-null int64
value          136824 non-null float64
location       136824 non-null object
sample date    136824 non-null datetime64[ns]
measure        136824 non-null object
units          136824 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 6.3+ MB